<footer>
  <div class="copyright text-center font-small">
    <span>Copyright &copy; 2020 | Powered by Melvin Hong - s3511887 and Lew Jun Wang - s3678831 | Tutorial Thursday 7:30p.m. - 9:30p.m. | Amir Homayoon Ashrafzadeh
 </span>
  </div>

</footer>
